@model List<Rajanell.TechStach.Core.Model.Order>

<br />
<br />
@if (Model.Any())
{
    foreach (var order in Model)
    {
        <ul class="list-group">
            <li class="list-group-item active">
                <i class="fa fa-calendar"></i> @order.Date <span class="pull-right font-weight-light"> @order.OrderId</span>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        <b>Product Name</b>
                    </div>
                    <div class="col-2">
                        <b>Price</b>
                    </div>
                    <div class="col-2">
                        <b>Quantity</b>
                    </div>
                    <div class="col-2">
                        <b>TotalPrice</b>
                    </div>
                </div>

            </li>
            @foreach (var orderDetail in order.OrderDetails)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            @orderDetail.ProductName
                        </div>
                        <div class="col-2">
                            @orderDetail.Price
                        </div>
                        <div class="col-2">
                            @orderDetail.Quantiry
                        </div>
                        <div class="col-2">
                            @orderDetail.TotalPrice
                        </div>
                    </div>

                </li>
            }

        </ul>
    }

}
else
{
    <br />
    <br />
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <div style="padding-left:50px">
            No orders found.
        </div>
    </div>
}

